
*body{
  margin: 0%;
  padding: 0%;
}

$primary: #adb5bd;
$secondary: #fd7e14;
$nav_bar_menu: #6c757d;
$success:#20c997;
$info:#fd7e14;
$danger: #dc3545;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "nav_bar_menu": $nav_bar_menu,
  "info": $info,
  "danger": $danger
);

@import "./node_modules/bootstrap/scss/bootstrap.scss";

/*
@media (max-width:768px){
  #div-map{
    width: 100% !important;
  }
}
*/